* {
    margin: 0%;
    padding: 0%;
}

#container {
    width: 100%;
    height: 100%;
    display: block;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: red;
    color: white;
}

#calculator {
    width: 400px;
    height: 350px;
    margin: auto;
    padding: 10%;
    background-color: black;
}

button {
    width: 70px;
    height: 40px;
}

#display {
    height: 40px;
    background-color: white;
    color: black;
    text-align: right;
    font-size: 20pt;
}

